:root {
    --button-color: #E02C6D;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
    font-weight: 600;
    padding: 40px 80px 0px 80px;
}

.site-name {
    font-size: 24px;
    font-weight: 700;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: end;
    justify-items: center;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}

.top-section-img {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 80px; */
}

.top-section-text {
    margin: 80px;
    font-weight: 600;
}

.top-section-text button {
    background-color: var(--button-color);
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    color: aliceblue;

}

button i {
    padding-left: 7px;
}

/* Company Logos */
.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 150px;
}

/* Popular Collection Section */
.popular-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 50px 150px;
    margin-bottom: 100px;
}

.colection {
    display: flex;
    justify-content: center;
    box-shadow: 2px 5px 15px rgb(179, 179, 179);
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
}

#popular-h1 {
    margin: 0px 150px;

}

.images {
    width: 100%;

}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.see-more {
    color: var(--button-color);
    font-weight: 600;
    text-align: right;
    margin: -50px 150px;
    margin-bottom: 100px;
}

.products {
    display: flex;
    justify-content: center;
    margin: 0px 150px;
    margin-bottom: 100px;
}

.products button {
    background-color: var(--button-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
}

.products-text {
    margin-left: 50px;
    font-weight: 500;
}

footer {
    background-color: #0A0826;
    text-align: center;
    color: aliceblue;
    padding: 15px;
}

.fa-instagram,
.fa-dribbble,
.fa-twitter,
.fa-youtube {
    padding: 5px;
}